@keyframes fadeSlideLeft {
    0% {
        opacity: 0;
        transform: translateX(-30px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeSlideRight {
    0% {
        opacity: 0;
        transform: translateX(30px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.animate-fade-slide-left {
    animation: fadeSlideLeft 0.8s ease forwards;
}

.animate-fade-slide-right {
    animation: fadeSlideRight 0.8s ease forwards;
}

.delay-1 {
    animation-delay: 0.5s;
}

@keyframes slideUpAppear {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.slide-up-appear {
    animation: slideUpAppear 0.6s ease forwards;
}

.fade-in-up {
    opacity: 0;
    transform: translateY(30px);
}

.fade-in-up.animated {
    animation: fadeInUpCustom 1s ease-out forwards;
}

@keyframes fadeInUpCustom {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(40px);
        opacity: 0.5;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.animate-on-scroll {
    opacity: 0;
    transform: translateY(40px);
    transition: transform 0.35s ease, opacity 0.35s ease;
}

.animate-on-scroll.visible {
    animation: slideUp 0.35s ease forwards;
}